﻿@charset "utf-8";
//@import "_reset.scss";
/*! bulma.io v0.7.1 | MIT License | github.com/jgthms/bulma */

@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/elements/_all";
@import "bulma/components/_all";
@import "bulma/grid/_all";
@import "bulma/layout/_all";

@import "common/_radio.scss";
@import "component/_mixin.scss";
@import "component/_header.scss";
@import "component/_simfiles.scss";
@import "component/_footer.scss";

//--------------------
// フォント
//--------------------
// @font-face {
//   font-family: 'Quicksand_Bold';
//   src: url('../font/Quicksand_Bold_0.otf') format('truetype');
// }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

//--------------------
// 定数
//--------------------
// ベースフォント
$base_font:
"Yu Gothic",
"游ゴシック Medium",
"Yu Gothic Medium",
"游ゴシック体",
YuGothic,
sans-serif;
// 太字フォント
//$bold_font:游ゴシック;
$backToTopImage: "/images/up-arrow.png";

/* base */

body {

  text-align: center;
  line-height: 1.5;
  font-family: $base_font;
  font-size: 78%;
  color: #dddddd;
  height: -moz-available;   /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  height: fill-available;
  min-height: min-content;
  //margin: 0;
  padding: 135px 0 100px;
  padding-top: 135px;
  //overflow: hidden;
  background-color: black;
  background: {
    repeat: repeat;
    attachment: fixed;
    image: url(/images/background/eternal_tune-bg.jpg);
    attachment: fixed;
    position: 0% 0%;
  }
}

// img {
//   border-width: 0px;
//   &.icon {
//     padding: 4px;
//     border: 2px solid #ffffff;
//     margin: 0px;
//     &:hover {
//       @include opacity(0.78);
//     }
//   }
//   /*イラストのレイアウト*/
//   &.pict {
//     padding: 1px;
//     border: 1px solid #aaa;
//     margin: 1px;
//     line-height: 1;
//   }
//   /*バナーのレイアウト*/
//   &.bn {
//     padding: 0px;
//     border: 1px solid #aaa;
//     margin: 0px;
//   }
// }

img {
  &.pict {
    border: 1px solid #333;
    padding: 2px;
    background-color: #0e0e0e;
  }
}

a {
  color: #ffffff;

  &:hover {
    color: #f3f3f3;
    img {
      @include opacity(0.78);
    }
  }
}

p {
  padding-bottom: 15px;
  line-height: 22px;
  .line {
    line-height: 22px;
    background: {
      image: url(/images/line_dot.gif);
      repeat: repeat;
    }
  }
}

td.clear {
  filter: Alpha(opacity=50);
}

::-webkit-scrollbar {
  width: 7px;
  height: 2px;
}

::scrollbar {
  width: 7px;
}

::scrollbar-track {
  background: rgba(42, 42, 42, 0.22);
}

::scrollbar-thumb {
  background: rgba(42, 42, 42, 0.78);
}

::-webkit-scrollbar-track {
  background: rgba(42, 42, 42, 0.22);
}

::-webkit-scrollbar-thumb {
  background: rgba(42, 42, 42, 0.78);
}

#particles canvas{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: block;
  z-index: 0;
}

.hero-body
{
  padding: 0;
}

/*コンテナ*/
#container {
  width: 900px;
  position: static;
  text-align: center;
  margin: {
    left: auto;
    right: auto;
  }
  border: {
    width: 1px 1px 1px 1px;
    style: outset;
    color: #3c3c3c;
  }
  background-color: black;
  background: rgba(0,0,0,0.78);
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.8);

  #container-inner {
    width: 870px;
    position: relative;
    text-align: left;
    margin: {
      left: auto;
      right: auto;
      top: 15px;
    }
  }
}
@media screen and (max-width: 900px)
{
  #container {
    width: 700px;

    #container-inner {
      padding: 10px;
      width: 680px;
    }
  }
}
@media screen and (max-width: 700px)
{
  #container {
    width: 100%;

    #container-inner {
      padding: 10px;
      width: 100%;
    }
  }
}

.content {
  clear: both;
  margin: 1px 0;
  padding: 0px 0;
  height: 0px;
  /*height:500px;*/
  /*overflow:hidden;*/
  text-align: left;
  font-size: 14px;
}

//無限スクロール内のスタイル
.content-sc {
  display: block;
  overflow: hidden;
  width: auto;
  height: 500px;
  padding: 0px;
  background: #333;
  color: #eee;
  background-color: rgba(0, 0, 255, 0.0);
  div .post {
    margin: 13px 0;
  }
  p {
    font-size: 11px;
    line-height: 15px;
  }
  h6 {
    font-size: 13px;
    line-height: 2.5em;
  }
}

.content-sc2 {
  display: block;
  width: auto;
  height: 100px;
  overflow: hidden;
  padding: 0px;
  border: 1px solid #888888;
  color: #eee;
  background-color: rgba(0, 0, 255, 0.0);
}

/* main */

#main {
  float: left;
  h2 {
    font-family: $base_font;
    font-weight: bold;
    font-size: 17px;
    padding: .25em .5em;
    margin: 5px 0;
    color: #ffffff;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #7db4e6;/*左線*/
    line-height: 28px;
  }

  h3 {
    font-family: $base_font;
    font-weight: bold;
    position: relative;
    padding-left: 25px;
    margin: 8px;
    margin-left: 0;
    font-size: 13px;

    &:before {
      position: absolute;
      content: '';
      bottom: -3px;
      left: 0;
      width: 0;
      height: 0;
      border: none;
      border-left: solid 15px transparent;
      border-bottom: solid 15px rgb(119, 195, 223);
    }
    &:after {
      position: absolute;
      content: '';
      bottom: -3px;
      left: 10px;
      width: 100%;
      border-bottom: solid 3px rgb(119, 195, 223);
    }
  }

  .card-grid {
    width:100%;
  }
  .card-grid:after {
    content: "";
    display: table;
    clear: both;
  }

  .card-wrap {
    float:left;
    width:100%;
    padding:5px;
  }
  @media (min-width: 500px) {
    .card-wrap {
      width:50%;
    }
  }
  @media (min-width: 700px) {
    .card-wrap {
      width:25%;
    }
  }

  .card {
    background-color:white;
    border-radius:3px;
    height: 94px;

    *, *:after, *:before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    img {
      text-align: center;
      max-width:100%;
      padding: 3px;
    }
    a {
      color: #212121;
    }

  }
  .card > div {
    padding:0 1em;
  }


    .cp_qa *, .cp_qa *:after, .cp_qa *:before {
      font-family: 'Font Awesome 5 Free', sans-serif;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    .cp_qa
    {
      margin: 5px;

      dt,dd {
        position: relative;
        padding: 0.5em;
        box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
        border-radius: 0.3em;
        color: #000000;
      }
      dt {
        margin: 0 3em 1em 3em;
        background: #ffb2df;
      }
      dd {
        margin: 0 3em 3em 3em;
        background: #b2ebf2;
      }
      /* 吹き出し︎ */
      dt::before,dd::before{
        position: absolute;
        z-index: 0;
        top: 0.5em;
        display: inline-block;
        width: 0;
        height: 0;
        content: '';
        border-style: solid;
      }
      /* 質問吹き出し︎ */
      dt::before {
        left: -0.5em;
        border-width: 5px 8.7px 5px 0;
        border-color: transparent #ffb2df transparent transparent;
      }
      /* 答え吹き出し︎ */
      dd::before {
        right: -0.5em;
        border-width: 5px 0 5px 8.7px;
        border-color: transparent transparent transparent #b2ebf2;
      }
      /* ?!アイコン */
      dt::after,dd::after {
        font-size: 1.2em;
        position: absolute;
        top: 0;
        color: #ffffff;
        border-radius: 50%;
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.2em;
      }
      /* ?アイコン */
      dt::after {
        font-weight:900;
        left: -2.5em;
        margin: 0 0.5em 0 0;
        padding: 0.2em 0.35em;
        content: '\f128';
        //content: '\f128';
        background: #f5008f;
      }
      /* !アイコン */
      dd::after {
        font-weight:900;
        right: -2.5em;
        margin: 0 0 0 0.5em;
        padding: 0.2em 0.27em;
        content: '\f0b2';
        //content: '\f12a';
        background: #0097a7;
      }
    }
}

.note-format {
  dt {
    margin-top: 8px;
    font-weight: bold;
  }
  dd {
    background: none no-repeat left top;
    padding-left: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

/* side */

#side {
  width: 200px;
  //text-align: left;
  float: left;
  h3 {
    padding-top: 7px;
    padding-bottom: 2px;
    font: {
      size: 12px;
      weight: 400;
      variant: normal;
      style: normal;
    }
    border: {
      bottom-width: 1px;
      bottom-style: solid;
      bottom-color: #C1C1AF;
    } //line-height: normal;
    line-height: 1em;
    color: #CCCCCC;
  }
  ul {
    &#sidemenu {
      //text-align: center;
      //margin-bottom: 8px;

      li {
        margin-bottom: 2px;
        a {
          display: block;
          text-align: center;
          color: #eeeeee;

          border: {
            left: {
              width: 5px;
              style: none;
              color: #023a6c;
            }
            bottom: {
              color: #888888;
              width: 1px;
              style: none;
            }
          }
          padding: {
            top: 7px;
            bottom: 6px;
            decoration: none;
          }

        }

        &:hover {
          color: white;
          /*マウスオーバー時の文字色*/
          border: {
            left: {
              style: none;
              /*マウスオーバー時の左サイドのボーダースタイル*/
              width: 5px;
              /*マウスオーバー時の左サイドのボーダーサイズ*/
              color: #0472d5;
              /*マウスオーバー時の左サイドのボーダーカラー*/
            }
          }
          background-color: #1a5c7b80;
          cursor: pointer;
        }
      }
    }
  }
}

.btn_scroll {
  display: block;
  margin: auto;
  padding-top: 7px;
  padding-bottom: 6px;
  text-align: center;
  max-width: 200px;
}

.clearfix {
  display: block;
}

.twitter_timeline {
  margin: {
    top: 15px;
    bottom: 15px;
  }
}

@include keyframes(BackToTopAnimation) {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  25% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

/* arrow icon */
.isAnimation {
  @include animation(BackToTopAnimation);
  @include animation-direction(normal); //アニメーションの向き
  @include animation-duration(0.6s); //時間
  @include animation-delay(0s); //間隔
}

table {
  &.style_a {
    width: 100%;
    font-size: 12px;
    /*文字サイズ*/
    border-collapse: collapse;
    margin: {
      top: 15px;
      bottom: 15px;
    }
    th {
      width: 150px;
      /*項目部分の幅サイズ*/
      color: white;
      /*項目部分の文字色▼*/
      background-color: #212121;
      /*項目部分の背景色▼*/
      border: {
        width: 1px 0px 1px 1px;
        /*項目部分のボーダー枠の太さ｜右サイド表示なし*/
        style: solid;
        /*項目部分のボーダー枠スタイル*/
        color: #3e3e3e;
        /*項目部分のボーダー枠カラー▼*/
      }
      padding: {
        top: 5px;
        left: 10px;
        right: 2px;
        bottom: 5px;
      }
      text-align: left;
      //vertical-align: top;
    }
    td {
      padding: 5px;
      border-width: 1px;
      /*内容部分のボーダー枠の太さ*/
      border-style: solid;
      /*内容部分のボーダー枠スタイル*/
      border-color: #3e3e3e;
      /*内容部分のボーダー枠カラー▼*/
    }
  }
}

.clear {
  clear: both;
}

//react table override
.ReactTable .-pagination .-btn {
  color: white;
  background-color: #56565629;
}

//ナビゲーションドロワー
#nav-drawer {
  position: absolute;

  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }

  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    position: fixed;
    z-index: 30;
    width: 100px;
    height: 200px;
    vertical-align: middle;
    bottom: -50px;
    left: 0px;
    cursor: pointer;
    span {
      &:before {
        bottom: -8px;
      }
      &:after {
        bottom: -16px;
      }
    }
  }

  h3 {
    padding-top: 7px;
    padding-bottom: 2px;
    font: {
      size: 12px;
      weight: 400;
      variant: normal;
      style: normal;
    }
    border: {
      bottom-width: 1px;
      bottom-style: solid;
      bottom-color: #C1C1AF;
    } //line-height: normal;
    line-height: 1em;
    color: rgb(247, 247, 247);
  }

  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }

  /*中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    padding:10px;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 200px;/*最大幅（調整してください）*/
    height: 100%;
    background: #cc0033;/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);/*左に隠しておく*/
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.8);

    ul {
      li {
        a {
          display: block;
          margin: auto;
          text-align: center;
          padding-top: 7px;
          padding-bottom: 6px;
        }

        &:hover {
          background-color: #8d1338;
          cursor: pointer;
        }
      }
    }
  }

  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
  }

  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

html {
  background-color: transparent;
}
