$popupFont:"Yu Gothic",
sans-serif;
.package {
    margin: auto;
    text-align: left;
    width: 200px;
    &.p {
        text-align: center;
    }
    &__tooltip {
        p {
            width: 180px;
            text-align: center;
        }
        a {
            position: relative;
            transition: .3s;
            &:hover {
                color: #333;
                background: #34495e;
            }
            &:before {
                padding: 0;
                margin: 0;
                font-size: 30px;
                text-align: center;
                line-height: 1;
            }
            span {
                position: absolute;
                opacity: 0;
                top: -105px;
                left: -19px;
                width: 210px;
                padding: 8px;
                border-radius: 5px;
                border-width: 1px;
                border-style: inset;
                border-color: #00a4e0;
                background: #eeeeee;
                color: #333;
                font-size: 11px;
                line-height: 1.2;
                transition: .3s;
                text-shadow: 0 0 0px #cacaca;
                font-family: $popupFont;

                &:after {
                    position: absolute;
                    top: 100%;
                    left: 100px;
                    height: 0;
                    width: 0;
                    border-width: 1px;
                    border-color: #00aacc;
                    border: 6px solid transparent;
                    border-top: 6px solid #eeeeee;
                    content: "";
                }
            }
            &:hover span {
                opacity: 1;
                top: -90px;
            }
        }
    }

  &__tooltipContent {
    th {
        padding: 3px;
        font-weight: bold;
        text-align: right;
        text-transform: lowercase;
    }
    td {
        text-align: left;
        vertical-align: middle;
    }
  }
}
