﻿@charset "utf-8";
// ポップアップ用フォント
$popupFont:"Yu Gothic",
sans-serif;

.simfilePopupView {
  h2 {
      font-size: 30px;
      font-family: $popupFont;
  }
  &__download_btn {
      text-align: center;
      width: 222px;
      font-weight: bold;
      position: relative;
      background-color: #ff3a63;
      color: #fff;
      border-radius: 0.2em;
      box-shadow: 0 6px 0 #d60833;
      border: none;
      text-shadow: 0 1px 1px rgba(0, 0, 0, .09);
      margin: 1.5em auto;
      -webkit-transition: 0.13s ease-in-out;
      -moz-transition: 0.13s ease-in-out;
      -o-transition: 0.13s ease-in-out;
      transition: 0.13s ease-in-out;
      padding: 1em;
      &:hover {
          background: #ff3a63;
          color: #fff;
          box-shadow: 0 3px 0 #d60833;
          filter: alpha(opacity=70);
          -ms-filter: "alpha(opacity=70)";
          opacity: 0.7;
          -webkit-transform: translate3d(0px, 3px, 1px);
          -moz-transform: translate3d(0px, 3px, 1px);
          transform: translate3d(0px, 3px, 1px);
          //box-shadow:none;
      }
  }
}

//override react modal window
.narcissus_x3xwbs {
  top: 10px !important;
  left: 10px !important;
}
