﻿@charset "utf-8";

//CSS3対応
$SUPPORT_CSS3: true !default;

//定数
$main_width: 888px;
$background : #666666;
$boxshadow-color : rgba(0,0,0,.75);
$shadow-color : rgba(0,0,0,0.88);
$hover-color : rgba(42,42,42,0.94);
$reverse: -180deg;
$mobileHeaderSlideHeight: 556px;

/* --------------------------------------------------------------
▼ヘッダー部分の設定
-------------------------------------------------------------- */
#headerArea {
  position: fixed !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  color: #fff;
  z-index: 3;
}

#header {
  width: 100%;
  background-color: #1e1e1e;
  /*background-image: url(../images/bg01w_000000.gif);*/
  background-repeat: repeat;
  margin-right: auto;
  margin-left: auto;
  #arrow_cg {
    color: #ffffff;
    width: 100px;
    height: 75px;
    text-align: left;
    padding-top: 4px;
    padding-right: 5px;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

#header-inner {
  width: 888px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* base nav styles */
nav {
  display:block;
  position:relative;
  margin:0 auto;
  border:0px solid #222;
  background-color:$background;
  font-size:15px;

  @include PropertySetPrefix(box-shadow,2px 2px 2px $shadow-color);

  li {
    position:relative;
    float:left;
    list-style-type:none;

    &:first-child a { border-left: 1px solid #555; }

    a {
      display:block;
      color:#fff;
      padding:10px 24px;

      border: {
        left:0px solid #666;
        right:1px solid #555;
      }

      text: {
        decoration:none;
        align:center;
        shadow: -1px -1px #042042;
        decoration: none;
      }

      &:focus {
        outline:none;
        text-decoration: none;
      }
    }

    .category
    {
      a {
        padding:5px 5px;
        border-left:none;
        border-right:none;
        font-size:14px;
      }
    }
  }

  ul {
    padding:0;
    margin:0;

    &:after {
      content:".";
      display:block;
      height:0;
      clear:both;
      visibility:hidden;
    }

    ul {
      //display:none;
      width:100%;
      position:absolute;
      left:0;
      background:$background;
      li {
        float:none;
      }
    }
  }

  /*navの固定横サイズを確保*/
  .space {
    width: $main_width;
    margin: 0 auto;
  }
}

/* Fixed */
#top-head.fixed {
  margin-top: 0;
  top: 0;
  position: fixed;
  padding-top: 10px;
  height: 55px;
  background: #1e1e1e;
  transition: top 0.65s ease-in;
  -webkit-transition: top 0.65s ease-in;
  -moz-transition: top 0.65s ease-in;

  .logo {
    font-size: 24px;
    color: #333;
  }

  #topNav ul li a {
    color: #333;
    padding: 0 5px;
  }
}

/* Toggle Button */
#nav-toggle {
  display: none;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 34px;
  height: 36px;
  cursor: pointer;
  z-index: 101;

  div {
    position: relative;
  }
  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #888;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;

    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 11px;
    }
    &:nth-child(3) {
      top: 22px;
    }
  }
}

@media screen and (max-width: 500px)
{
  #headerArea,
  #header-inner {
      width: 100%;
      padding: 0;
  }
  #headerArea {
      top: 0;
      position: fixed;
      margin-top: 0;
  }
  /* Fixed reset */
  #headerArea.fixed {
      padding-top: 0;
      background: transparent;
  }
  #mobile-head {
      background: #1e1e1e;
      //width: 100%;
      height: 56px;
      z-index: 999;
      position: relative;
  }
  #headerArea.fixed .logo,
  #headerArea .logo {
      position: absolute;
      left: 13px;
      top: 13px;
      color: #333;
      font-size: 26px;
  }

  #headerArea #topNav ul li a,
  #headerArea.fixed #topNav ul li a {
    width: 100%;
    margin: auto;
    display: block;
    color: #fff;
    padding: 5px 0;
  }

  // #headerArea #topNav ul li a,
  // #headerArea.fixed #topNav

  #topNav {
    position: absolute;
    /* 開いてないときは画面外に配置 */
    //Mobile OpenButtonで表示・非表示
    top: -500px;
    background: #333;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

    ul {
      list-style: none;
      position: static;
      right: 0;
      bottom: 0;
      font-size: 12px;

      li {
        float: none;
        position: static;
        text-align:left;
        // a {
        //   //width: 100%;
        //   margin: auto;
        //   display: block;
        //   color: #fff;
        //   padding: 5px 0;
        // }
      }
    }
  }

  #nav-toggle {
    display: block;
  }

  /* #nav-toggle 切り替えアニメーション */
  .open {
    #nav-toggle span
    {
      &:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
      }
      &:nth-child(2) {
        width: 0;
        left: 50%;
      }
      &:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-315deg);
        -moz-transform: rotate(-315deg);
        transform: rotate(-315deg);
      }
    }

    /* #global-nav スライドアニメーション */
    #topNav
    {
      /* #global-nav top + #mobile-head height */
      -moz-transform: translateY($mobileHeaderSlideHeight);
      -webkit-transform: translateY($mobileHeaderSlideHeight);
      transform: translateY($mobileHeaderSlideHeight);
    }
  }
}

/* CSS3  */
@if ($SUPPORT_CSS3)
{
  .borderradius{
    .rgba nav ul ul li.last {
      @include border-bottom-left-radius(3px);
      @include border-bottom-right-radius(3px);
    }

    nav {
      @include PropertySetPrefix(border-radius, 3px);
      ul ul {
        @include border-bottom-left-radius(3px);
        @include border-bottom-right-radius(3px);
      }
    }
  }

  .cssgradients {
    nav {
      @include gradient(#b4032a, #960226, #740016, 38%, vertical);
      li:hover {
          @include gradient(#FF1667,#8f0222, #640019, 60%, radial);
      }
    }
  }

  nav ul ul {
    background-color:$shadow-color;
    @include PropertySetPrefix(box-shadow,1px 1px 1px $shadow-color);
    a:hover { background:$hover-color; }
  }
}
