﻿@charset "utf-8";
@import "compass/css3/animation";

// ベンダープレフィックスを自動で付与する
$set-prefix: '' , -moz- , -webkit-, -o-;

// プロパティにプレフィックスを付与
@mixin PropertySetPrefix($name, $value) {
    @each $prefix in $set-prefix {
        #{$prefix}#{$name}: $value;
    }
}

@mixin opacity($opacity) {
     opacity: $opacity;
     $opacityIE: $opacity * 100;
     filter: alpha(opacity=$opacityIE);
}

@mixin keyframes($animationName)
{
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation($animationName) 
{
    @include animation-name($animationName);
    @include animation-timing-function(ease-in-out);//アニメーション動き
    @include animation-fill-mode(both);//始まりと終わり
    @include animation-iteration-count(infinite);//回数
}

//-----------------
// _header.scss
//-----------------
@mixin gradient($start-color, $middle-color, $end-color, $middle-pos,$orientation)
{
    background: $start-color;
    @if $orientation == vertical
    {
        // vertical
        background: -moz-linear-gradient(top,  $start-color 0%, $middle-color $middle-pos, $end-color 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start-color), color-stop($middle-pos,$middle-color),color-stop(100%,$end-color));
        background: -webkit-linear-gradient(top,  $start-color 0%, $middle-color $middle-pos, $end-color 100%);
        background: -o-linear-gradient(top,  $start-color 0%, $middle-color $middle-pos, $end-color 100%);
        background: linear-gradient(to bottom,  $start-color 0%, $middle-color $middle-pos, $end-color 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=0 );
    }
    @else if $orientation == horizontal
    {
        // horizontal
        background: -moz-linear-gradient(left,  $start-color 0%, $middle-color $middle-pos, $end-color 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,$start-color), color-stop($middle-pos,$middle-color), color-stop(100%,$end-color));
        background: -webkit-linear-gradient(left,  $start-color 0%, $middle-color $middle-pos, $end-color 100%);
        background: -o-linear-gradient(left,  $start-color 0%, $middle-color $middle-pos, $end-color 100%);
        background: linear-gradient(to right,  $middle-color $middle-pos, $end-color 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
    }
    @else
    {
        // radial
        background: -moz-radial-gradient(bottom, ellipse cover, $start-color 0%, $middle-color $middle-pos, $end-color 100%);
        background: -webkit-gradient(radial, bottom center, 0px, center center, 100%, color-stop(0%,$start-color), color-stop($middle-pos,$middle-color), color-stop(100%,$end-color));
        background: -webkit-radial-gradient(bottom, ellipse cover,  $start-color 0%, $middle-color $middle-pos, $end-color 100%);
        background: -o-radial-gradient(bottom, ellipse cover,  $start-color 0%, $middle-color $middle-pos, $end-color 100%);
        background: radial-gradient(ellipse at bottom,  $start-color 0%, $middle-color $middle-pos, $end-color 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
    }
}

@mixin border-radius($radius) {
    @include PropertySetPrefix(border-radius, $radius);
}
@mixin border-top-left-radius($radius) {
    @include PropertySetPrefix(border-top-left-radius, $radius);
}
@mixin border-top-right-radius($radius) {
    @include PropertySetPrefix(border-top-right-radius, $radius);
}
@mixin border-bottom-right-radius($radius) {
    @include PropertySetPrefix(border-bottom-right-radius, $radius);
}
@mixin border-bottom-left-radius($radius) {
    @include PropertySetPrefix(border-bottom-left-radius, $radius);
}