﻿/* --------------------------------------------------------------
▼ Simfiles
-------------------------------------------------------------- */

@import "./simfiles/package.scss";
@import "./simfiles/popupView.scss";

// ポップアップ用フォント
$popupFont:"Yu Gothic",
sans-serif;
.simfile {
  &__text {
    margin: 16px;
    text-align: left;
    width: 216px;
    background-color: rgba(255, 0, 132, 0.66);
    border-radius: 3px;
    padding: 6px 0;
    display: block;
    text-shadow: -1px -1px #044040;

    dt {
      font-size: 16px;
      line-height: 3px;
      padding: 16px 16px 5px;
    }
    dd {
        font-size: 20px;
        line-height: 3px;
        padding: 16px 16px;
        &.minifont {
            font-size: 16px;
            line-height: 3px;
            padding: 16px 16px;
        }
    }

    &--right{
      margin-left: 0px;
    }
  }
  @media (max-width: 500px) {
    .__text {
        clear: both;
        margin: auto;
    }
  }
  @media (min-width: 501px) {
      .__text {
      float: right;
    }
  }
}

.simboxright {
    margin: 16px;
    margin-left: 0px;
    text-align: left;
    width: 216px;
    background-color: rgba(255, 0, 132, 0.66);
    border-radius: 3px;
    padding: 6px 0;
    //float: right;
    display: block;
    text-shadow: -1px -1px #044040;
    dt {
        font-size: 16px;
        line-height: 3px;
        padding: 16px 16px 5px;
    }
    dd {
        font-size: 20px;
        line-height: 3px;
        padding: 16px 16px;
        &.minifont {
            font-size: 16px;
            line-height: 3px;
            padding: 16px 16px;
        }
    }
}
@media (max-width: 500px) {
    .simboxright {
        clear: both;
        margin: auto;
    }
}
@media (min-width: 501px) {
    .simboxright {
        float: right;
    }
}

/*---偶数個目---*/
.simboxleft2 {
    margin: 16px;
    margin-right: 0px;
    text-align: left;
    width: 216px;
    background-color: rgba(255, 0, 132, 0.66);
    border-radius: 3px;
    padding: 6px 0;
    //float: left;
    font-size: 20px;
    display: block;
    text-shadow: -1px -1px #044040;
    dt {
        font-size: 16px;
        line-height: 3px;
        padding: 16px 16px 5px;
    }
    dd {
        font-size: 20px;
        line-height: 3px;
        padding: 16px 16px;
        &.minifont {
            font-size: 16px;
            line-height: 3px;
            padding: 16px 16px;
        }
    }
}
@media (max-width: 500px) {
    .simboxleft2 {
        clear: both;
        margin: auto;
    }
}
@media (min-width: 501px) {
    .simboxleft2 {
        float: left;
    }
}

.simdet {
    font-size: 11px;
    clear: both;
    text-align: left;
    margin-left: 32px;
    margin-top: 7px;
    text-indent: 1.0em;
    //アウトライン
    text-shadow: -1px 0px #333, 0px -1px #333, 1px 0px #333, 0px 1px #333, -1px -1px #333, 1px -1px #333, -1px 1px #333, 1px 1px #333;
    div {
        float: left;
        dt {
            width: 88px;
            background-color: #333;
        }
        dd {
            background-color: #888;
        }
    }
}
@media (max-width: 500px) {
    .simdet {
        clear: both;
        margin: auto;
    }
}

.simfile {
    width: 598px;
    /*高さは個々に設定する*/
    height: 242px;
    color: #fff;
    padding: 11px 11px 11px 11px;
    background: rgba(0, 0, 0, 0.38);
    //丸角
    @include PropertySetPrefix(border-radius, 6px);
    border: 1px solid #222;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
    margin: 24px auto;
    /*padding: 13px;*/
    box-shadow: (rgba(0, 0, 0, .2) 0 0 0 20px inset);
}
@media (max-width: 500px) {
    .simfile {
        width: 325px;
        height: 420px;
    }
}

.selectSimfileListRadio {
    @extend div.selectVersionRadio;
    margin-bottom: 30px;
    input[type=radio]:checked+label {
        background-color: #a80058;
    }
    label {
        width: 85px;
        margin: 8px 0px;
        padding: 12px 5px;
    }
}
.simboxleft {
    width: 338px;
    margin-bottom: 33px;
}
@media (max-width: 500px) {
    .simboxleft {
        width: 275px;
        clear: both;
    }
}
@media (min-width: 501px) {
    .simboxleft {
        float: left;
    }
}
.simboxright2 {
    width: 338px;
    margin-bottom: 33px;
}
@media (max-width: 500px) {
    .simboxright2 {
        width: 275px;
        clear: both;
    }
}
@media (min-width: 501px) {
    .simboxright2 {
        float: right;
    }
}


.simdif {

    width: 294px;
    height: 30px;
    font-size: 11px;

    a {
        display: block;
    }
    li {
        display: block;
        width: 55px;
        font-size: 11px;
        font-weight: bold;
        //アウトライン
        text-shadow: -1px 0px #222, 0px -1px #222, 1px 0px #222, 0px 1px #222, -1px -1px #222, 1px -1px #222, -1px 1px #222, 1px 1px #222;
        padding: 5px 0;
        border-left: 1px solid #222;
        text-decoration: none;
        background: #333;
        @include PropertySetPrefix(transition, background 0.3s linear);
        border-left: 0;
        float: left;
        &.img {
            padding: 1px;
            margin-right: 1px;
        }
        &:hover {
            background: #eeeeee;
        }
    }
    &__g {
        color: #00ffff;
        border-radius: 3px 0 0 3px;
    }
    &__b {
        color: yellow;
    }
    &__d {
        color: red;
    }
    &__e {
        color: lime;
    }
    &__c {
        color: magenta;
        border-radius: 0 3px 3px 0;
    }
}

.rum {
    &:hover {
        img {
            animation: rumble 0.12s linear infinite;
        }
    }
}

@keyframes rumble {
    0% {
        transform: rotate(0deg) translate(0, 0);
    }
    12.5% {
        transform: rotate(0.4deg) translate(1px, -1px);
    }
    25% {
        transform: rotate(0.8deg) translate(0px, 1px);
    }
    37.5% {
        transform: rotate(0.4deg) translate(-1px, 0);
    }
    50% {
        transform: rotate(0deg) translate(0, 0);
    }
    62.5% {
        transform: rotate(-0.4deg) translate(1px, 0);
    }
    75% {
        transform: rotate(-0.8deg) translate(0, 1px);
    }
    87.5% {
        transform: rotate(-0.4deg) translate(-1px, -1px);
    }
    100% {
        transform: rotate(0deg) translate(0, 0);
    }
}

img.simimg {
    margin: auto;
    margin-top: 16px;
    padding: 5px;
    background-color: #333333;
    @include PropertySetPrefix(transition, background 0.3s linear);
    &:hover {
        background: #eeeeee;
    }
}

