<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="copyright" content="Eternal∞Tune(StepMania用DWI配布サイト)"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="StepManiaのSimfileを公開しています。"/>
    <meta name="keywords" content="StepMania,DWI,DDR,ITG,PIU,EDIT,Simfile,Package,譜面,足譜面,ステマニ,NAOKI,NA-O-K,3DCG,TechnoMotion,Unity" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Eternal∞Tune(StepMania用DWI配布サイト)">
    <meta property="og:description" content="StepManiaのSimfileを公開しています。">
    <meta property="og:url" content="http://na24ddr.html.xdomain.jp/">
    <meta name="twitter:card" content="summary">
    <meta property="og:image" content="http://na24ddr.html.xdomain.jp/images/cg/debris.png">
    <link rel="canonical" href="http://na24ddr.html.xdomain.jp/" />
    <link rel="icon" href="/icon/et_logo.ico"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.cssName %>"/>
  </head>
  <body>
    <div id="root"></div>
    <script src="/js/modernizr-custom.js"></script>
  </body>
</html>